<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>I am a developer</title>
  <meta name="description" content="king zin's devwork">
  <meta name="author" content="zinking3@gmail.com">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/bootstrap3.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">

      <!-- Post -->
{{ content }}


    <footer>
      <hr />
      Design &copy; Jonathan Cremin | Content &copy; king zin
      <div class="coins">
        <small>BTC <a href="bitcoin:1PvXhy9aF4Gu3fKKvsrttgBbygqUswWBF3">BitCoinLink</a></small><br>
        <small>DOGE <a href="dogecoin:DL5ZdK4GjaiQNFAiq9rCZvpkHw9Hfjg4JY">DogCoinLink</a></small>
      </div>
    </footer>
  </div>

  <script>
    var _gaq=[['_setAccount','UA-3272874-6'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>